@inherits LayoutComponentBase


<MudThemeProvider Theme="_theme" IsDarkMode />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Class="d-flex justify-center flex-row border-b-2 mud-border-secondary" Dense Elevation="1">
        <MudButtonGroup OverrideStyles="false">
            <MudIconButton Icon="@Icons.Material.Filled.Home" Href="/"/>
            @foreach (var sport in SportTypes.All)
            {
                <MudButton Href="@($"/category/{sport.ToDescriptionString()}")">@sport.ToDescriptionString()</MudButton>
            }
        </MudButtonGroup>
    </MudAppBar>
    <MudMainContent>
        <div class="d-flex justify-center flex-row" style="width: 100%">
            <MudPaper Class="pt-4 px-4" Width="100%" MaxWidth="800px" Elevation="0">
                @Body
            </MudPaper>
        </div>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {

    private readonly MudTheme _theme = new MudTheme()
    {
        PaletteDark = new()
        {
            Primary = "E4E4E4",
            Secondary = "#28282C",
            Tertiary = "#656DB9",
            Surface = "#1A1B1C",
            Background = "#08090A",
            AppbarBackground = "#09090B"
        }
    };

}